# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# JetBrains
.idea/

# Environments
.env
.venv/
ENV/
env/
venv/

# Mac
.DS_Store

# Local files
*.local

# Delete backup
.delete/

*.db

# Website / Gatsby
website/node_modules/
website/.cache/
website/public/
website/.DS_Store
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*